<div class="form-wrapper" margin-bottom>
  <form [formGroup]="formGroup" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
    <ion-item>
      <ion-item>
        <ion-label name="email" position="floating">Email</ion-label>
        <ion-input [formControl]="email"></ion-input>
      </ion-item>
    </ion-item>
    <ion-item>
      <ion-item>
        <ion-label name="password" position="floating">Password</ion-label>
        <ion-input [formControl]="password" type="password"></ion-input>
      </ion-item>
    </ion-item>
    <ion-button type="submit">
      Sign in
    </ion-button>
  </form>
</div>
