
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
    <ion-title>Books</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col size-sm="12" offset-sm="3" text-center padding>
        <lbr-books-list class="books__list" [books$]="books$"> </lbr-books-list>
        <ion-button (click)="addNewBook()">Add new book</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>